http://agendabct.selfip.net/event_attributes?attribute_label=destinatari&es[]=4

<ul>
<li><a href="/excel_sheets">Agende</a></li>
<li><a href="/venues">Sedi</a></li>
<li><a href="/event_attributes?attribute_label=destinatari">Destinatari</a></li>
<li><a href="/event_attributes?attribute_label=canale_web">Canali web</a></li>
<li><a href="/event_attributes?attribute_label=tipologia_attivita">Tipologia attività</a></li>
<li><a href="/event_attributes?attribute_label=tematiche">Tematiche</a></li>
<li><a href="/event_attributes?attribute_label=collaborazioni">Collaborazioni</a></li>
<li><a href="/event_attributes?attribute_label=utenze">Utenze</a></li>
<li><a href="/events">Lista eventi</a></li>
</ul>

